<div class="row">
    <div class="col-md-12">
        <h1>Tömeg-rúgó rendszerek</h1>
        <small>A 12.4. fejezet alapján.</small>
        <hr>

        <p>
            A tömeg-rúgó modelleket széles körben alkalmazzák a gépészeti tudományokban és egyéb mérnöki területeken.
            Az 1. ábra egy ilyen rendszert szemléltet: a baloldalon a rendszer kiengedés előtti, azaz a rugók megnyúlása
            vagy összenyomódása előtti; a jobboldalon pedig végső, nyugalmi állapotát láthatjuk.
        </p>

        <p>
            A két állapot közötti elmozdulás mértékét (<app-latex inputString="$x_{1}, x_{2}, x_{3}$"></app-latex>)
            lokális
            koordináták mentén mérjük, a súlyok kezdőpozíciójához viszonyítva.
        </p>

        <div class="text-center">
            <img src="assets/spring-mass-figure-static.png" alt="Spring-mass system model">
            <p><span class="fw-bold">1. ábra.</span> Egy egyszerű tömeg-rúgó rendszer modellje.</p>
        </div>

        <p>
            A rendszer matematikai modellje Newton második törvényének, valamint a fizikai erők egyensúlyának
            felhasználásával írható le.
            Minden súlyra érvényesül az alábbi tulajdonság:
        </p>
        <p class="text-center">
            <app-latex inputString="$m \frac{d^2 x}{dt^2} = F_D - F_U$"></app-latex>
        </p>

        <p>
            Jelen példában az egyszerűség kedvéért azt feltételezzük, hogy a rúgók minden mechanikai tulajdonsága
            megegyezik,
            és érvényesül rájuk Hooke törvénye. Ebben az esetben például az <app-latex inputString="$m_1$"></app-latex>
            súlyra ható,
            felfelé irányuló erő maga a rúgóerő:
        </p>
        <p class="text-center">
            <app-latex inputString="$F_{U} = k \cdot x_{1}$"></app-latex>, ahol <app-latex
                inputString="$k$"></app-latex> a rúgó merevsége
            és <app-latex inputString="$x_{1}$"></app-latex> a megnyúlás.
        </p>
        <p>
            Az ugyanezen súlyra ható, lefelé mutató erő az alatta található két rúgó erejéből, valamint a gravitációs
            erőből tevődik össze:
        </p>
        <p class="text-center">
            <app-latex inputString="$F_D = k(x_2 - x_1) + k(x_2 - x_1) = m_1 \cdot g$"></app-latex>
        </p>
        <p>
            A súlyra ható erő felfelé és lefelé mutató komponenseinek képleteit a fenti egyenletbe helyettesítve
            egy másodrendű differenciálegyenletet kapunk, ami <app-latex inputString="$m_1$"></app-latex> elmozdulását
            adja meg az idő függvényében:
        </p>
        <p class="text-center">
            <app-latex
                inputString="$m_1 \frac{d^2 x_1}{dt^2} = 2k(x_2 - x_1) + m_1 g - k x_1 \hspace{4em} (1.)$"></app-latex>
        </p>
        <p>
            Az egyenlet ebben a formában nem oldható meg, hiszen az eredmény <app-latex inputString="$m_1$"></app-latex>
            és
            <app-latex inputString="$m_2$"></app-latex> elmozdulásától is függ. Alkossunk tehát képleteket a másik két
            súlyra is:
        </p>
        <p class="text-center">
            <app-latex
                inputString="$m_2 \frac{d^2 x_2}{dt^2} = k(x_3 - x_2) + m_2 g - 2k(x_2 - x_1) \hspace{4em} (2.)$"></app-latex>
        </p>
        <p class="text-center">
            <app-latex inputString="$m_3 \frac{d^2 x_3}{dt^2} = m_3 g - k(x_3 - x_2) \hspace{4em} (3.)$"></app-latex>
        </p>
        <p>
            Az (1.), (2.), (3.) egyenletek háromismeretlenes egyenletrendszert alkotnak, mely használható arra, hogy
            kiszámoljuk a súlyok elmozdulását a rendszer végső, nyugalmi állapotában. Ennek érdekében az egyenletekben
            szereplő deriváltakat helyettesítsük 0-val, hogy a következőt kapjuk:
        </p>
        <p class="text-center">
            <app-latex inputString="$3kx_1 - 2kx_2 = m_1 g$"></app-latex>
            <br>
            <app-latex inputString="$-2kx_1 + 3kx_2 - kx_3 = m_2 g$"></app-latex>
            <br>
            <app-latex inputString="$-kx_2 + kx_3 = m_3 g$"></app-latex>
        </p>
        <p>
            Az automatizált feldolgozáshoz az egyenletrendszert mátrixok segítségével szükséges leírnunk:
        </p>
        <p class="text-center">
            <app-latex inputString="$[K]\{X\} = \{W\}$"></app-latex>
        </p>
        Ahol:
        <ul>
            <li>
                <app-latex
                    inputString="$[K] = \begin{bmatrix} 3k & -2k & 0 \\ -2k & 3k & -k \\ 0 & -k & k \end{bmatrix}$"></app-latex>
                a <span class="fst-italic">merevségi mátrix</span>,
            </li>
            <li>
                <app-latex inputString="$\{X\}$"></app-latex> az ismeretleneket tartalmazó oszlopvektor,
            </li>
            <li>
                <app-latex inputString="$\{W\}$"></app-latex> az <app-latex inputString="$m \cdot g$"></app-latex>
                súlyokat tartalmazó oszlopvektor.
            </li>
        </ul>

        <h2>LU dekompozíció</h2>
        <p>
            Az egyenletrendszer megoldásához végezzük el a <app-latex inputString="$[K]$"></app-latex> mátrix LU
            dekompozícióját!
            Ehhez adottak az alábbi értékek:
        </p>

        <form class="row" [formGroup]="springMassForm">
            <div class="col-md-4">
                <label for="m1" class="form-label">
                    m<sub>1</sub> [kg]:
                </label>
                <input type="number" step="0.1" min="0" class="form-control" id="m1" formControlName="m1">
            </div>
            <div class="col-md-4">
                <label for="m2" class="form-label">
                    m<sub>2</sub> [kg]:
                </label>
                <input type="number" step="0.1" min="0" class="form-control" id="m2" formControlName="m2">
            </div>
            <div class="col-md-4">
                <label for="m3" class="form-label">
                    m<sub>3</sub> [kg]:
                </label>
                <input type="number" step="0.1" min="0" class="form-control" id="m3" formControlName="m3">
            </div>
            <div class="col-md-4">
                <label for="k" class="form-label">
                    k [kg/s<sup>2</sup>]:
                </label>
                <input type="number" step="0.1" min="0" class="form-control" id="k" formControlName="k">
            </div>
        </form>

        <div class="text-end">
            <button class="btn btn-outline-primary" (click)="calculateEquation()">Számol</button>
        </div>

        <!-- canvas -->
        <div id="results" [class.d-none]="equationSystemSolution == ''">
            <p>
                Az egyenletrendszer megoldásához a K mátrixot először L és U mátrixokra bontjuk fel
                (<app-latex inputString="$K = L \cdot U$"></app-latex>):
            </p>
            <p>
                <app-latex [inputString]="luDecompositionEquation"></app-latex>
            </p>
            <p>
                Az így kapott mátrixok felhasználásával pedig az ismeretlenek értéke kiszámítható:
            </p>
            <p>
                <app-latex [inputString]="equationSystemSolution"></app-latex>
            </p>

            <p>
                Az elmozdulásokat ezután grafikusan is ábrázolhatjuk:
            </p>

            <div class="text-center m-2">
                <canvas width="800" height="600" #figure></canvas>
            </div>
        </div>
    </div>
</div>