<nav class="navbar navbar-expand-lg navbar-light bg-light ms-2">
  <a class="navbar-brand">Numerikus módszerek</a>
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cs1-pipe-friction">1. esettanulmány</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cs2-spring-mass">2. esettanulmány</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/">3. esettanulmány</a>
      </li>
    </ul>
  </div>
</nav>