<div class="row">
    <div class="cl-md-12">
        <h1>Csősúrlódás</h1>
        <small>8.4. fejezet</small>
        <hr>

        <p>
            A csövekben áramló folyadékok fizikai tulajdonságainak meghatározása fontos különböző
            mérnöki és tudományos területeken, például a gépészetben és a repüléstudományban.
            A <span class="fst-italic">súrlódási tényező</span> kiszámítására turbulens áramlás
            esetén az ún. „Colebrook-egyenlet” alkalmazható:
        </p>
        <p class="text-center">
            <app-latex inputString="$0 = \frac{1}{\sqrt{f}} + 2.0 \log \left( \frac{\epsilon}{3.7D} + \frac{2.51}{Re\sqrt{f}} \right)$"></app-latex>
        </p>
        
    </div>
</div>
