<div class="row mt-4">
    <div class="col-md-12">

        <h3>Üdvözlet a numerikus módszerek világában!</h3>

        <img src="assets/intro.png" alt="Into">

        <p>
            Az oldalon lehetőség nyílik egyes numerikus eljárások megismerésére, interaktív példák segítségével.
            A bemutatott témakörök:
        </p>

        <ul>
            <li>Gyökkeresés</li>
            <li>Egyenletrendszerek</li>
            <li>Többszörös lineáris regresszió</li>
        </ul>

        <p>
            Minden példa bármikor újraszámítható; egyszerűen meg kell nyomni a „Számol” gombot, és a számítások az új
            értékekkel kerülnek levezetésre.
        </p>
        <p>
            A grafikonok szintén interaktívak, lehetőséget biztosítanak a pontos értékek megtekintésére, a 3D
            grafikonok pedig forgathatók, hogy minden adat könnyen láthatóvá váljon.
        </p>
        <p>
            Érdemes azonnal felfedezni, hogyan segíthetnek a numerikus eljárások a mérnöki problémák
            megoldásában! Kezdhetünk?
        </p>

        <button class="btn btn-outline-primary" (click)="nextPage()">Keressünk gyököket!</button>
    </div>
</div>